In [60]:
import pandas as pd
asa = pd.read_csv("ASA- SEM-1 CGPA.csv")
asa

                     Name   CGPA
0         Aafreen Arjuman  7.300
1                Abhik De  6.670
2         Adrija Karmakar  7.500
3             Akash Singh  7.034
4       Amrita Chatterjee  7.271
5          Animesh Mandal  7.610
6           Anubhab Maity  7.180
7              Anuza Paul  7.500
8             Arpan Mitra  8.500
9     Asima Rai Chawdhury  7.670
10     Bishal Chakraborty  7.520
11         Brinta Debnath  7.000
12        Debdipta Khanra  7.760
13       Hrittik Banerjee  7.690
14             Isha Panda  7.900
15      Mrittika Banerjee  7.001
16          Protyush Jana  7.400
17            Sagar Banik  7.450
18           Saheli Ghosh  8.076
19        Satarupa Chanda  8.120
20  Sayantan Bandopadhyay  7.100
21          Shreya Bhuiya  7.100
22     Shubhankar Debnath  7.400
23          Soumen Khatua  6.760
24     Soumitro Mukherjee  7.434
25           Sounak Ghosh  8.172
26          Sreeja Sarkar  7.990
27      Subham Kumar Saha  5.300
28          Subhani Akuly  7.470
29            Tanmoy Saha  6.900

In [63]:
cgpa = asa.CGPA
cgpa

0     7.300
1     6.670
2     7.500
3     7.034
4     7.271
5     7.610
6     7.180
7     7.500
8     8.500
9     7.670
10    7.520
11    7.000
12    7.760
13    7.690
14    7.900
15    7.001
16    7.400
17    7.450
18    8.076
19    8.120
20    7.100
21    7.100
22    7.400
23    6.760
24    7.434
25    8.172
26    7.990
27    5.300
28    7.470
29    6.900
Name: CGPA, dtype: float64

## Normality Asumption

In [91]:
import scipy.stats as scist
scist.chisquare(cgpa)

Power_divergenceResult(statistic=1.3611139788437085, pvalue=0.999999999999994)

## Student's t-test

In [87]:
scist.ttest_1samp(cgpa,7.5,alternative='greater')

Ttest_1sampResult(statistic=-0.9986609230644281, pvalue=0.8368902823682709)

## Wilcoxon Sign Rank test

In [88]:
cgpa_rank = cgpa-7.5
scist.wilcoxon(cgpa_rank, y=None, alternative='greater')

WilcoxonResult(statistic=165.0, pvalue=0.8066052670100348)

## Two Sample Location Tests

In [89]:
boys = cgpa[0:15]
girls = cgpa[15:30]

In [109]:
boys

0     7.300
1     6.670
2     7.500
3     7.034
4     7.271
5     7.610
6     7.180
7     7.500
8     8.500
9     7.670
10    7.520
11    7.000
12    7.760
13    7.690
14    7.900
Name: CGPA, dtype: float64

In [110]:
girls

15    7.001
16    7.400
17    7.450
18    8.076
19    8.120
20    7.100
21    7.100
22    7.400
23    6.760
24    7.434
25    8.172
26    7.990
27    5.300
28    7.470
29    6.900
Name: CGPA, dtype: float64

## Normality Assumption

In [93]:
scist.chisquare(boys)

Power_divergenceResult(statistic=0.3539889389411712, pvalue=0.9999999990750644)

In [94]:
scist.chisquare(girls)

Power_divergenceResult(statistic=0.9874018764873764, pvalue=0.9999990777123358)

## Fisher's t-test

In [90]:
scist.ttest_ind(boys,girls,equal_var=True,alternative='two-sided')

Ttest_indResult(statistic=0.7480541531363771, pvalue=0.4606648219162376)

## Mann Whitney U-test

In [76]:
scist.mannwhitneyu(boys,girls,alternative='two-sided')

MannwhitneyuResult(statistic=129.0, pvalue=0.5067730974898798)

## F-test

In [107]:
import statistics as st
F_val = st.variance(boys)/st.variance(girls)
F_val

0.36645529670585075

In [108]:
scist.f.cdf(F_val,14,14)

0.03523594325628493

In [99]:
st.variance(boys)

0.1889710952380953

In [104]:
st.variance(girls)

0.515672980952381

#### Here F_val > f.cdf and F_val < 0 , which implies that Boys are more consistent than Girls.

## Ansari-Bradly Test

In [102]:
scist.ansari(boys,girls)

AnsariResult(statistic=124.0, pvalue=0.73926590610719)